body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 0;
}

h1 {
  font-size: 2em;
}

img {
  max-width: 100%;
}

pre {
  overflow: auto;
  max-height: 15em;
  background-color: #eeeeee;
  padding: 1em;
}

section,
footer {
  width: 100%;
  max-width: 50em;
  margin: 0 auto;
}

footer p {
  font-size: .9em;
}

footer p,
footer a {
  color: #546e7a;
}
